<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<div class="cart_title">Your Pragmatic Cart</div>
<%= render(@cart) %>
<br>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
